body {
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.item {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    flex: 0 0 48%; /* Each item takes 48% width to fit two items per row */
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
}

.item img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.price {
    font-weight: bold;
    font-family: 'Noto Sans';
}

.details {
    margin-top: 10px;
}

.details p {
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Noto Sans';
    color: #232220;
}

.add-btn {
    background-color: #00CC33;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.add-btn:active {
    font-size: 19px;
}

.ripple {
    position: absolute;
    background-color: #009933;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    animation: ripple 1250ms ease-out forwards, fade 1500ms ease-out forwards;
}

@keyframes ripple {
    0%   { transform: translate(-50%, -50%) scale(0); opacity: 0.7; }
    80%  { transform: translate(-50%, -50%) scale(50); opacity: 0.4; }
    100% { transform: translate(-50%, -50%) scale(50); opacity: 0; }
}

@keyframes fade {
    0%   { opacity: 0.5; }
    100% { opacity: 0; }
}


/* Spinning Thing */

#loader {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #999999;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from { bottom: -100px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}

@keyframes animatebottom { 
    from { bottom: -100px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}

#myDiv {
    display: none;
    text-align: center;
}
